html, body
{
  margin: 0;
  padding: 0;
}
header
{
  position: sticky;
  top: 0;
  width: 100vw;
  z-index: 1000;
  display: flex;
  grid-template-columns: 1fr 2fr 1fr; 
  padding: 2px 50px;
  justify-content: space-between;
  align-items: center;
  background: white;
  /* padding: 10px 20px; */
  box-shadow: 0 0 5px 0 grey;
}

.logo img {
  height: 30px;
}

header a
{
  color: black;
  text-decoration: none;
}

header a :visited
{
  color: black;
  text-decoration: none;
}

header a :active
{
  color: rgb(64, 64, 180);
}

header button
{
  width: 140px;
  height: 30px;
}

.call
{
  background-color: white;
  color: rgb(29, 78, 216);
  border: 2px solid rgb(29, 78, 216);
  border-radius: 5px;
  display: grid; 
  grid-template-columns: 1fr 2fr; 
}

.call:hover {
  background: rgb(29, 78, 216);
  color: white;
}

.call :first-child
{
  text-align: left;
}

.call :nth-child(2)
{
  padding-top: 5px;
  text-align: right;
}

.what
{
  background-color: green;
  color: white;
  display: grid;
  grid-template-columns: 1fr 2fr;
  border: 2px solid green;
  border-radius: 5px;
}

.what :first-child
{
  text-align: left;
}

.what :nth-child(2)
{
  padding-top: 5px;
  text-align: right;
}

.what:hover {
  background-color: white;
  color: green;
}

 header :nth-child(3)
{
  display: flex;
  flex-direction: row;
} 

nav
{
  gap: 10px;
  align-items: center;
}

nav ul
{
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

nav a:hover
{
  color: rgb(29, 78, 216);
}

.sidebar
{
  position: fixed;
  top:0;
  right:0;
  height: 100vh;
  width: 250px;
  z-index: 1500;
  background-color: white;
  box-shadow: -10px 0 10px rgba(0,0,0,0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar li
{
  width: 100%;
}

.sidebar a
{
  width: 100%;
}

.hamburger
{
  display: none;
}

@media screen and (max-width: 768px){
  .hideOnMobile
  {
    display: none;
  }

  .hamburger
  {
    display: inline;
  }
  
}

/* Footer styling starts here*/


footer
{
  background-color: #101725;
  color: white;
  /* padding: 30px 20px; */
}

.foot
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 30px 20px;
}

footer a
{
  color: white;
  display: block;
  text-decoration: none;
}

footer ul
{
  margin:0;
  padding: 0;
}

.ender
{
  margin: 30px 20px 70px;
  padding: 30px;
  color: white;
  text-align: center;
}

@media screen and (max-width: 768px) {

  .foot{
    display: grid;
    grid-template-columns: 1fr;
    /* padding: 0px 20px; */
  }
  
}